*.beam
*.dll
*.iml
*.o
*.plt
*.swo
*.swp
*~
.cache/
.cpcache/
.erlang.cookie
.eunit
.idea
.nrepl-port
.rebar
.rebar3
_*
_build
bin/
cljs-test-runner-out/
ebin
erl_crash.dump
log
logs
obj/
rebar3.crashdump
target/
