{:deps {}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {clj-commons/clj-yaml {:mvn/version "0.7.107"}
                              com.github.liquidz/antq {:mvn/version "RELEASE"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "cc75980b43011773162b485f46f939dc5fba91e4"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :dev-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.914"}}}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
