{:deps {}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {clj-commons/clj-yaml {:mvn/version "0.7.0"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "2d69f33d7980c3353b246c28f72ffeafbd9f2fab"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
           :dev-cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.844"}}}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
